.drop:after {
    display: inline-block;
    content: '';
    border-top: 40px solid #0E1122;
    border-left: 16px solid transparent;
}
.litre:after {
	display: inline-block;
    content: '';
    border-bottom: 40px solid #0E1122;
    border-left: 16px solid transparent;
}