<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>A</title>
	<link rel="stylesheet" href="../css/base.css">
	<style type="text/css">
		th, td{
			padding: 8px 12px;
			text-align: center;
			border: 1px solid #fff;
		}
		.bg {
			color: #fff;
			background: #214D8E;
		}
	</style>
</head>
<body>
	<table style="min-width: 1000px; background:#F2F2F2;">
		<thead>
			<tr class="bg">
				<th>政策底</br>（救市时间）</th>
				<th>政策底时间点</th>
				<th>市场底时间点</th>
				<th>政策底与市场底间隔</th>
				<th>政策底时市场估值</th>
				<th>大盘涨跌幅</br>（政策底至市场底）</th>
				<th>主要救市举措</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="bg">2005年</td>
				<td>2005.01.24</br>最低1239.80</br>收盘1255.78</td>
				<td>2005.06.06</br>最低998.23</br>收盘1034.38</td>
				<td>近半年</td>
				<td>PE20.6</br>PB2.05</td>
				<td>-14.12%</td>
				<td>降低印花税，保险资金入市，股权分置改革</td>
			</tr>
			<tr>
				<td class="bg">2008年</td>
				<td>2008.09.18</br>最低1802.33</br>收盘1895.84</td>
				<td>2008.10.28</br>最低1664.93</br>收盘1771.82</td>
				<td>1个半月</td>
				<td>PE14.52</br>PB2.23</td>
				<td>-8.15%</td>
				<td>印花税单边征税，降息降准，汇金入市</td>
			</tr>
			<tr>
				<td class="bg">2012年</td>
				<td>2012.12.04</br>最低1949.46</br>收盘1975.14</td>
				<td>2013.06.25</br>最低1849.65</br>收盘1959.51</td>
				<td>半年多</td>
				<td>PE10.24</br>PB1.4</td>
				<td>-0.42%</td>
				<td>暂停IPO，扩大QFII额度，放宽公募成立限制</td>
			</tr>
			<tr>
				<td class="bg">2015年</td>
				<td>2015.07.09</br>最低3373.54</br>收盘3709.33</td>
				<td>2015.08.26</br>最低2850.71</br>收盘2927.29</td>
				<td>1个半月</td>
				<td>PE17.33</br>PB2.11</br>（注：泡沫主要出现在创业板）</td>
				<td>-16.53%</td>
				<td>汇金及证金获得无限流动性，成立国家队基金，限制做空</td>
			</tr>
		</tbody>
	</table>
</body>
</html>