<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>数据</title>
	<link rel="Shortcut Icon" href="../img/star.png"/>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/navHtml.css">
	<link rel="stylesheet" href="../unpackage/jquery/Plugins/scrollBar/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="../css/bigData.css" />
</head>
<body>
	<div class="sideNav">
		<div style="height: 100%;"  id="sideNav">
			<div class="bb-custom-wrapper">
				<!-- <h3 class="blue">上游能源</h3>
				<ul class="topnav">
					<li><a>石油天然气</a><span class="WebpageNum">1项</span>
						<ul class="boxC">
							<li><i></i><a data-href="chemical/chemicalProductPrice.html?code=11404&name=乙烯">景气周期-乙烯</a></li>
						</ul>
					</li>
					<li><a class="ccc">煤炭</a></li>
				</ul>
				<h3 class="blue">中游材料与化工</h3>
				<ul class="topnav">
					<li><a>农业造纸</a><span class="WebpageNum">1项</span>
						<ul class="boxC">
							<li><i></i><a data-href="agriculture/AnimalHusbandryAndFishery.html">白羽鸡存栏量及价格走势分析</a></li>
						</ul>
					</li>
					<li><a>材料化工</a><span class="WebpageNum">9项</span>
						<ul class="boxC">
							<li><i></i><a data-href="chemical/chemicalIndustry.html">化工价格监测</a></li>
							<li><i></i><a data-href="chemical/chemicalDownWeek.html">拐点判断</a></li>
							<li><i></i><a data-href="chemical/chemicalIndustry_warn.html">化工价格预警</a></li>
							<li><i></i><a data-href="chemical/capabilityIndex.html">能化指数</a></li>
							<li><i></i><a data-href="chemical/profit_monitoring.html">利润监测</a></li>
							<li><i></i><a data-href="chemical/inventory_monitoring.html">库存监测</a></li>
							<li><i></i><a data-href="chemical/import_and_export.html">进出口</a></li>
							<li><i></i><a data-href="chemical/supply_and_demand.html">供需数据</a></li>
							<li><i></i><a data-href="chemical/productAndCompanyRelationship.html">产品和公司关系</a></li>
						</ul>
					</li>
					<li><a class="ccc">电力设备</a></li>
					<li><a class="ccc">机械军工</a></li>
				</ul>
				<h3 class="blue">下游商业与消费</h3>
				<ul class="topnav">
					<li><a>地产家电</a><span class="WebpageNum">3项</span>
						<ul class="boxC">
							<li><i></i><a data-href="realEstate/RealEstate_home.html">重点房地产上市公司大数据NAV估值分析</a></li>
							<li><i></i><a data-href="realEstate/RealEstate_interestRateMonitoring.html">利率监测</a></li>
							<li><i></i><a data-href="realEstate/secondHandHousing.html">二手房监测</a></li>
						</ul>
					</li>
					<li><a>汽车零部件</a><span class="WebpageNum">2项</span>
						<ul class="boxC">
							<li><i></i><a data-href="car/carSalesAnalysis.html">汽车销售分析</a></li>
							<li><i></i><a  data-href="car/carTendency.html">中长期趋势</a></li>
						</ul>
					</li>
					<li><a>医疗保健</a><span class="WebpageNum">4项</span>
						<ul class="boxC">
							<li><i></i><a data-href="medical/medicine_CompanyCompetitivePower.html">公司竞争力分析</a></li>
							<li><i></i><a data-href="medical/drugPriceAnalysis.html">药品价格分析</a></li>
							<li><i></i><a data-href="medical/medicinesCompete.html">药品竞争力分析</a></li>
							<li><i></i><a data-href="medical/medicineRanking.html">药品排名</a></li>
						</ul>
					</li>
					<li><a class="ccc">商贸服务</a></li>
					<li><a class="ccc">食品饮料</a></li>
					<li><a class="ccc">编织家居</a></li>
				</ul>
				<h3 class="blue">服务与支撑</h3>
				<ul class="topnav">
					<li><a>TMT系统</a><span class="WebpageNum">4项</span>
						<ul class="boxC">
							<li><i></i><a data-href="TMT/box_office.html">总票房分析</a></li>
							<li><i></i><a data-href="TMT/yxjty.html">院线及影投分析</a></li>
							<li><i></i><a data-href="TMT/domesticAndImported.html">国产片与进口片票房分析</a></li>
							<li><i></i><a data-href="TMT/ProductionAdnDistribution.html">出品及发行公司分析</a></li>
						</ul>
					</li>
					<li><a class="ccc">金融服务</a></li>
					<li><a class="ccc">公共事业</a></li>
					<li><a class="ccc">物流系统</a></li>
					<li><a class="ccc">综合信息</a></li>
				</ul> -->
			</div> 
			<div style="height: 40px"></div>
		</div>
	</div>
	
	<div class="rightIframeBox" >
		<iframe  class="iframe_right" id="rightIframe"></iframe>
	</div>

	<script src="../unpackage/jquery/jquery-1.11.3.min.js"></script>
	<script src="../unpackage/base.js"></script>
	<script src="../unpackage/verify.js"></script>
	<script src="../unpackage/jquery/Plugins/scrollBar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../unpackage/jquery/Plugins/scriptbreaker-multiple-accordion.js"></script>
	<script src ="../js/bigData.js"></script>
</body>
</html>