<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>图表echarts</title>
	<link rel="icon" href="../img/star.png">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/navHtml.css">
	<link rel="stylesheet" href="../css/templates/echarts.css">
</head>
<body style="background-color: #0E1122;">

	<div class="main">
		<div id="chart" class="chart"></div>
	</div>

	<script src="../unpackage/jquery/jquery-1.11.3.min.js"></script>
	<script src="../unpackage/base.js"></script>
	<script src="../unpackage/verify.js"></script>
	<script src="../unpackage/echarts/echarts.min.js"></script>
	<script src="../js/navHtml.js"></script>
	<script src="../js/templates/echarts.js"></script>
</body>
</html>