<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
    <style type="text/css" media="screen">
    body {
    	padding: 0 30px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Liberation Sans", "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
        color: #40485b;
    }

    h2 {
        margin: calc(2rem - 0.165em) 0em 1rem;
        padding: 0em;
        font-size: 1.5em;
    }

    a {
        color: #095eab;
    }

    blockquote p {
        padding: 0 1em;
        margin-top: 0;
        margin-bottom: 16px;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;
    }

    </style>
</head>

<body>
    <h2 id="h2-u80A1u5E02u5FC3u5F97"><a name="股市心得" class="reference-link"></a><span class="header-link octicon octicon-link"></span>股市心得</h2>
    <ul>
        <li>不要贪心，小赚也是赚，见好就收。</li>
        <li>宁可错过，不要盲目买入，耐心等待时机。</li>
        <li>重要技术指标：<a href="https://baike.baidu.com/item/K%E7%BA%BF%E5%9B%BE/85028?fromtitle=K%E7%BA%BF&amp;fromid=590751&amp;fr=aladdin">K线图</a>、<a href="https://baike.baidu.com/item/%E6%88%90%E4%BA%A4%E9%87%8F/649336?fr=aladdin">成交量</a>、<a href="https://baike.baidu.com/item/%E7%A7%BB%E5%8A%A8%E5%B9%B3%E5%9D%87%E7%BA%BF/217887?fr=aladdin">MA移动平均线</a>、<a href="https://baike.baidu.com/item/%E7%AD%B9%E7%A0%81%E5%88%86%E5%B8%83/6389265">筹码分布</a>、<a href="https://baike.baidu.com/item/KDJ%E6%8C%87%E6%A0%87/6328421?fr=aladdin">kdj短线</a>、<a href="https://baike.baidu.com/item/%E6%8D%A2%E6%89%8B%E7%8E%87/631895?fr=aladdin">换手率</a>。</li>
    </ul>
    <blockquote>
        <p>kdj短线：日K值低于20，买入时机。且10日线下穿20日线后，第1-3天时间为最佳。5日线触碰K线图第二天是为好时机。</p>
        <p>MA移动平均线：5日、10日、20日、30日平均线战法。30日线为生命线。均线高度集中且K线图在30日线下方，下跌趋势以形成，割肉也要跑。均线高度集中且K线图在30日线上方，成交量放大，上升趋势以形成，买入。</p>
        <p>筹码分布：集中度在10%左右，且近期成交量小，后期大涨可能性大。集中度百分比越低越好，集中度大于17%要考虑卖出。且筹码在低位集中为最佳时机。</p>
    </blockquote>
    <h2 id="h2--"><a name="心态，技巧，再加一分运气。需要严格遵守的股票买卖要点:" class="reference-link"></a><span class="header-link octicon octicon-link"></span>心态，技巧，再加一分运气。需要严格遵守的股票买卖要点:</h2>
    <ol>
        <li>
            <p>心态、策略和技术是炒股成功的三要素。保持良好的心态非常重要，投资要有耐心，不能盲动。决不轻易出手，宁可错过，也不要做错。操作要有计划，买卖时不能恐惧和贪婪。</p>
        </li>
        <li>
            <p>发现有连续大单主动买入的股票是首选，确定目标股必须要经过一定时间的盘面跟踪和观察。无论是基本面分析还是技术面分析，都要服从主力动向的分析。作为短中线波段操作而言，在筛选目标股时应先从技术分析入手，分析和揣摩主力动向，扑捉目标股的启动时机。然后从筛选出的股票中再进行基本面分析和比较，比较包括横向比较和纵向比较两个方面。横向比较即与同类板块中其它的股票比较市盈率和价格的高低，纵向比较即与自身历史上出现的高低价位相比较，从而判断介入风险的大小和是否该卖出了。不要轻易相信传闻和消息，消息见光死是常见现象，因为消息到散户都知道的时候连黄瓜菜都凉了。</p>
        </li>
        <li>
            <p>不论在牛市还是震荡市中，精选股票是盈利的关键。和收益相比，股票目前的价格是否还具有吸引力？以此来判断介入风险的大小。目标股在低位或相对低位放量和量堆积，表明换手很充分了，是大主力已经介入的先兆。然后，当发现成交量由大幅度萎缩——再到温和放量——均量线稍有翘头——此时是股价即将大幅度拉升的先兆——果断逢低介入。与此相反，目标股在高位或相对高位放量和量堆积，表明换手充分，筹码在快速流动，是主力已经大肆派发的征兆。</p>
        </li>
        <li>
            <p>在股价刚启动时，尽量在第一时间买入；如果你没有及时发现而错过了第一买点，则需要耐心等待再次介入的机会。尤其在大盘震荡市道中应力戒火中取栗，追高买入。大盘单边上扬市中，对于总体涨幅不大的股票，可果断追高买入，即使被套也会很快解套或盈利的。</p>
        </li>
        <li>
            <p>买入价格要尽可能接近下方的密集成交区，因为这些筹码是主力的建仓成本区；而远离上方的历史成交密集区，此类个股的上行空间大，阻力小。如果距上方阻力位太近，且大趋势不乐观时，不要指望短期内就能快速突破强阻力区，此时你不要买入。</p>
        </li>
        <li>
            <p>要买强势股，不买弱势股，只有弃弱从强，才能跑赢大盘，稳操胜券。企图用守株待兔的方法靠弱势股来盈利是一厢情愿的想法，结果往往事与愿违，大失所望，不但浪费了机会成本，而且还破坏了自己的心态。</p>
        </li>
        <li>
            <p>要注意仓位控制，不要轻易满仓。只有在获利后才能加大仓位进行操作。分批买入是一个比较稳妥的买入方法，且分批买入的时间间隔不能太短，否则价差很小，就失去了分批买入的意义。同样，对于卖出没有明确心理价位的股民，采用分批卖出法可能是一个不错的选择。</p>
        </li>
        <li>
            <p>持股结构要合理，鸡蛋不要放在一个篮子里。紧跟市场热点，把握操作节奏，做到顺势而为。基本策略是波段操作，一部分筹码可中期、长期持有，其它筹码以短线交易为主。</p>
        </li>
        <li>
            <p>控制风险，严格止损。尤其是在大盘和个股由强转弱后，必须果断止盈和/或止损离场，绝不能心存侥幸。</p>
        </li>
        <li>
            <p>股票买卖一定要有心理价位。买入时机和价格，预期收益等。见好就收，不能贪得无厌。 </p>
        </li>
    </ol>
    <h2 id="h2-u8D85u8DCCu80A1"><a name="超跌股" class="reference-link"></a><span class="header-link octicon octicon-link"></span>超跌股</h2>
    <ul>
        <li>累计跌幅达70%;</li>
        <li>阶段跌幅达40%;</li>
        <li>短期跌幅达15%; </li>
    </ul>
    <blockquote>
        <p>公司的生产经营出现重大逆转，涉嫌弄虚作假，欺骗发行上市等公司。其股价跌幅再大，一般说来都不属于超跌股的范畴。</p>
        <p>公司股价过度高估或者上市时大肆炒作而造成的股价大幅下挫, 也不属于超跌股。</p>
        <p>有观点认为超跌股的跌幅都是在50%以上，有的甚至更多。不断创出新低，是超跌股的最大特征。当然，这要排除公司或行业的基本面因素以及上市便遭暴炒的情况。</p>
        <p>超跌股一般是在开始下跌的初期都有量能放出，随着股价不断创出新低后，量能是逐渐萎缩的。所以，不要在下跌仍然有量时介入，而需要在跌无可跌，量能极度萎缩时才考虑介入。下跌仍然还有较大的成交量，则表明后市仍不被看好，或许还有新低出现。</p>
        <p>超跌股在筑成一个平台后，如果再度出现放量，而且股价是开始向上拐头的时候，很可能是主力资金进场的信号，这个时候介入超跌股更安全稳妥。</p>
        <p>从盘子的大小来考量，也有一个原则需要注意，超跌股中，低价股比高价股机会要大，小盘股比大盘股胜算更高。小盘股拉升需要的资金量较少，而大盘股的拉升却要花费巨大的资金量，尤其是在市场资金量有限的情况下，小盘股更容易跑赢大盘。</p>
        <p>很多投资者会发现，买入时机能把握，但是不知道什么时候卖出合适，比如抓超跌股的反弹机会，更多是从短线角度去考量的，因此，拉升到一定程度时，就要考虑获利出局，落袋为安了。通常在反弹到30%左右时，就要考虑止盈。</p>
        <p>总结，这些技巧也都是根据不同的市况，需要做调整的，最终还是需要投资者的一种综合判断能力。像当前的市况下，市场热点变动太过频繁，那些中小创超跌股，在节后有了反弹的苗头，没几天的工夫，又转头向下了。其中的风险还是要通过做好仓位的管理去控制的。</p>
    </blockquote>
    <h2 id="h2--"><a name="量价— 百度百科" class="reference-link"></a><span class="header-link octicon octicon-link"></span>量价—<a href="https://baike.baidu.com/item/%E6%88%90%E4%BA%A4%E9%87%8F/649336?fr=aladdin">百度百科</a></h2>
    <blockquote>
        <p><a href="http://jingyan.baidu.com/article/f79b7cb3660d299144023e36.html">量比</a> = 当日即时为止的总成交量/[过去五日的每分钟平均成交量×当日即时为止的交易时间[分钟] ]量比大于1，表明目前场内交投活跃]<br>是否放量，可以看量比。<a href="https://www.talicai.com/post/529461?location=m_post_context">一天中股票交易的几个时间点</a></p>
        <ol>
            <li>高位无量就要拿，拿错也要拿。</li>
            <li>高位放量就要跑，跑错也要跑。</li>
            <li>低位无量就要等，等错也要等。</li>
            <li>低位放量就要跟，跟错也要跟。</li>
            <li>量增价升，买入。</li>
            <li>量增价平，转阴。</li>
            <li>量平价升，加仓。</li>
            <li>量平价跌，出局。</li>
        </ol>
        <p>量比为0.8-1.5倍之间，则说明成交量处于正常水平。</p>
        <p>量比在1.5-2.5倍之间，则为温和放量。如果藏品价也处于温和缓升状态，则升势相对健康，可继续持股，若藏品价下跌，则可认定跌势难以在短期内结束，从量的方面判断应可考虑停损退出。</p>
        <p>量比在2.5-5倍之间，则为明显放量。若股价相应地突破重要支撑或阻力位置，则突破有效的几率颇高，可以相应地采取行动。</p>
        <p>量比达5-10倍之间，则为剧烈放量。如果是在个藏品价处于长期低位出现剧烈放量突破，涨势的后续空间巨大，是“钱”途无量的象征，但是，如果在个别品种已有巨大涨幅的情况下出现如此剧烈的放量，则值得高度警惕。</p>
        <p>量比达到10倍以上的藏品。一般可以考虑反向操作。在涨势中出现这种情形，说明见顶的可能性压倒一切，即使不是彻底反转，至少涨势会休整相当长一段时间。在藏品处于绵绵阴跌的后期，突然出现的巨大量比，说明该品种在目前位置彻底释放了下跌动能。</p>
        <p>量比达到20倍以上的情形时是极端放量的一种表现。这种情况的反转意义特别强烈，如果在连续的上涨之后，成交量极端放大，但藏品价出现“滞涨”现象，则是涨势行将死亡的强烈信号。当某只藏品在跌势中出现极端放量，则是建仓的大好时机。</p>
    </blockquote>
    <p><img src="https://images.gitee.com/uploads/images/2019/0118/084642_493821c6_809842.png" alt="输入图片说明" title="stock.png"> </p>
</body>

</html>