<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>表格插件</title>
	<link rel="icon" href="../img/star.png">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/headerNav.css">
	<link rel="stylesheet" href="../unpackage/jquery/myPlugins/tablesPaging.css">
	<link rel="stylesheet" href="../css/templates/table.css">
</head>
<body>

	<div id="tab" class="tab"></div>

	<script src="../unpackage/jquery/jquery-1.11.3.min.js"></script>
	<script src="../unpackage/base.js"></script>
	<script src="../unpackage/jquery/myPlugins/tablesPaging-1.2.js"></script>
	<script src="../js/headerHtml.js"></script>
	<script src="../js/templates/table.js"></script>
</body>
</html>