@charset 'UTF-8';

/*css 初始化 initialize */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
tr,
td,
span,
input,
button,
select {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/150% 'Helvetica Neue', Helvetica, Tahoma, 'Source Han Sans CN', 'Noto Sans S Chinese', 'Hiragino Sans GB', 'Microsoft YaHei', 'sans-serif', Arial, Verdana, '\5b8b\4f53';
    /* font-size: 14px/150%;
    font-family: "Helvetica Neue", "Noto Sans", "Microsoft Yahei", 
    SimSun, PingFang, Helvetica, Tahoma, "Source Han Sans CN", 
    "Noto Sans S Chinese", "Hiragino Sans GB", "sans-serif", Arial, Verdana, "\5b8b\4f53"; */
    /* font: 14px/1.5 "myFont", "-apple-system", "BlinkMacSystemFont", 
    "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC",
    "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif; */
    cursor: default;
    letter-spacing: 1px;    /* 文字之间的间隔 */
}

fieldset,
img,
input,
button {    /* fieldset组合表单中的相关元素 */
    border: none;
    outline-style: none;
}

ul,
ol {
    list-style: none;   /* 清除列表风格 */
}

button {
    cursor: pointer;
    border-style: none;
}

input {
    font-family: 'SimSun', '宋体';
    padding-top: 0;
    padding-bottom: 0;
}

input::-webkit-input-placeholder {
    color: #3c3c3c;
}

input:-moz-placeholder {
    color: #3c3c3c;
}

input::-moz-placeholder {
    color: #3c3c3c;
}

input:-ms-input-placeholder {
    color: #3c3c3c;
}

select {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select,
input {
    vertical-align: middle; /* 文字与input对齐 */
}

select,
input,
textarea {
    font-size: 12px;
}

textarea {  /* 防止多行文本框拖动 */
    resize: none;
}

img {   /* 去掉图片低测默认的3像素空白缝隙 */
    vertical-align: middle;
    border: 0;
}

table { /* 合并表格外边线 */
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: inherit;
}
a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
}

i,
s,
em {
    font-style: normal;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;    /* IE/7/6 */
}


/* 公共类 */
.main {
    padding-top: 60px;
}
.w {
    width: 1210px;
    margin: 0 auto;
}

.col-red {
    color: #c81623 !important;
}

.inline-align {
    display: inline-block;
    vertical-align: top;    /* 行内块元素顶部对齐 */
}

.text-beyond {  /* 文字超出容器... */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-word-wrap {   /* 文字超出自动换行 */
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.tag-noChecked {    /* 标签内容不可以被选中 标签加上属性onselectstart="return false;" unselectable="on" */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

.drop:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #9B9B9B;
    position: absolute;
    top: 4px;
    right: -14px;
}

.litre:before {
    content: '';
    border-top: 6px solid #9B9B9B;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    top: 10px;
    right: -14px;
}

.tick:before {
    content: '';
    width: 8px;
    height: 16px;
    border-color: #009933;
    border-style: solid;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    left: 6px;
}

@font-face {
    font-family: 'myFont';  /*字体名称*/
    src: url('iconFont/Gotham-Book.ttf');   /*字体源文件*/
}

@font-face {
    font-family: 'iconfont';
    src: url('iconFont/iconfont.eot');
    src: url('iconFont/iconfont.eot?#iefix') format('embedded-opentype'),
         url('iconFont/iconfont.woff') format('woff'),
         url('iconFont/iconfont.ttf') format('truetype'),
         url('iconFont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
