/* 登录开始 */
.popup_loginBox{
    width: 450px;
    border-radius: 10px;
    padding: 0 26px 30px 26px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    z-index: 100000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display:none;
}
.popup_loginBox h1 {
    color: #787878;
    letter-spacing: 4px;
    font-size: 26px;
    line-height:26px;
    font-weight: 600;
    margin:0;
}
.popup_loginBox h3 {
    color: #9E9E9E;
    font-size: 16px;
    margin-top: 6px;
}
.popup_loginBox p {
    color: #BCBCBC;
    font-size: 13px;
    margin: 0;
}
.popup_loginBox input[type='text'], input[type='password'], input[type='email'] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #A8A8A8;
    color: #707070;
    font-size: 13px;
    line-height: 28px;
    box-sizing: border-box;
    height: 30px;
    padding: 0;
    outline-style: none;
}
.inputC {
    padding: 22px 0;
}
.radioBox {
    position: relative;
    padding: 7px 0;
}
.popupbtn {
    float: right;
    padding: 0;
    width: 114px;
    /* margin: 4px 0px 29px 214px; */
    background-color: #2157DB;
    border: 0;
    height: 40px;
    color: #fff;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    outline-style: none;
    text-align: center;
    letter-spacing: normal;
}
.popupbtn:hover {
    background-color:#2d78f4;
    border:1px solid #4990E2;
}
.popupbtn:active {
    background-color:#4990E2;
}
.login-topbox {
    position: relative;
    padding: 38px 0;
    background: url("../img/logoimg.png") no-repeat right center;
    background-size:50px;
    background-position-y: 33px;
}
.radioBox{
    position:relative;
}

.login-topbox .closeed_login{
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    position: absolute;
    top: -11px;
    right: -39px;
    background:url('../img/close.png') no-repeat center center ;
    background-size: 31px 31px ;
}
 input[type='checkbox']{
    position: relative;
    opacity: 0;
    left: 0px;
    top: 1px;
    z-index: 7;
}
.radiobg {
    width: 12px;
    height: 12px;
    border: 1px solid #C7C7C7;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 9px;
    left: 0;
}
.radiobg.checked {
    background-color: #4990E2;
    border: 0;
}
.popup_loginBox label {
    padding: 0;
    margin: 0;
    line-height: 12px;
    color: #A8A8A8;
    font-weight: normal;
    font-size: 12px;
}
.remenberMe {
    color:#666;
}
.login-topbox p {
    display: none;
    color: red;
    position: absolute;
    bottom: 8px;
}
.radiobg_bg{
    background-color:#4990E2;
    border-color:#4990E2;
}
/* 登录结束 */