html,
body,
#editor {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
    margin: 0;
    color: #333;
}

textarea,
#editor div {
    display: inline-block;
    overflow: auto;
    box-sizing: border-box;
    width: 49%;
    height: 100%;
    padding: 0 20px;
    vertical-align: top;
}

textarea {
    font-family: 'Monaco', courier, monospace;
    font-size: 14px;
    padding: 20px;
    resize: none;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    background-color: #f6f6f6;
}

code {
    color: #f66;
}