<!-- 登录框开始 -->
<div class="popup_loginBox" id="login">
	<div class="login-topbox">
		<h1>登录实验室</h1>
		<h3>天弘基金智能投资实验室</h3>
		<p>帐户或密码有误，请重新输入</p>
		<span class="closeed_login"></span>
	</div>
	<div>
		<p>账户或邮箱</p>
		<input type="text" autofocus="autofocus" name="username" id="username" placeholder="请输入用户名或邮箱">
	</div>
	<div class="inputC">
		<p>密码</p>
		<input type="password" id="password" name="password" placeholder="请输入密码">
	</div>
	<div class="radioBox" id="radioBox" onselectstart="return false;" style="-moz-user-select:-moz-none;-webkit-user-select:none;">
		<span class="radiobg radiobg_bg" id="radiobg"></span>
		<label class="remember_password" for="remember">
			<input type="checkbox" checked="checked" name="remember" id="remember">
			<span class="remenberMe">下次自动登录</span>
		</label>
	</div>
	<button class="popupbtn" id="loginButton">登 录</button>
</div>
<!-- 登录框结束 -->
