<header class="header">
    <div class="header-box">
        <div class="login_ico"></div>
        <nav class="center">
            <ul class="clearfix">
                <li class="fl">
                    <a href="indexHome.html">首页</a>
                    <s></s>
                </li>
                <li class="fl">
                    <a>模型列表</a>
                    <s></s>
                </li>
                <li class="fl">
                    <a>研究工具</a>
                    <s></s>
                </li>
                <li class="optional fl">
                    <a id="currentUser">我的自选</a>
                    <s></s>
                </li>
            </ul>
        </nav>
    </div>


    <!-- 导航下拉模块 -->
	<div id="pulldown" class="pulldown disp_none">
	    <!-- 模型列表 -->
	    <div class="model_list modellist disp_none">
	        <div class="list_fl fl">
	            <ul>
	                <li class="bg_2157da">新闻及舆情</li>
	                <li>债券</li>
	                <li>大数据经济研究</li>
	                <li>其它模型</li>
	            </ul>
	        </div>
	        <div class="list_fr fl">
	            <ul>
	                <li class="ml_10">
	                    <div class="">
	                        <ul>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="monitor/monitoring.html">
	                                    <h3>鹰眼-舆情监控</h3>
	                                    <p>舆情实时监控及正负面判断</p>
	                                </a>
	                            </li>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="analysis/analyze.html">
	                                    <h3>鹰眼-舆情分析</h3>
	                                    <p>企业舆情鹰眼指数统计计算</p>
	                                </a>
	                            </li>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="pigeon.html">
	                                    <h3>信鸽-上市公司新闻</h3>
	                                    <p>上市公司官方新闻实时推送</p>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                </li>
	                <li class="ml_10 disp_none">
	                    <div class="">
	                        <ul>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="finance/financialAppraisal-ranking.html">
	                                    <h3>财务异动监测</h3>
	                                    <p>企业财务报表分析计算</p>
	                                </a>
	                            </li>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="credit/creditMark.html">
	                                    <h3>信用分析模型</h3>
	                                    <p>企业信用评估及分数评定</p>
	                                </a>
	                            </li>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="bondQuantitativeIndicators/summary_all.html">
	                                    <h3>债券量化指标</h3>
	                                    <p>精简版指标总结</p>
	                                </a>
	                            </li>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="weiyue_bond/bondWeiYueList.html">
	                                    <h3>债券信用事件</h3>
	                                    <p>违约债券数据库</p>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                </li>
	                <li class="ml_10 disp_none">
	                    <div class="dsg pl_20">
	                        <div class="w_180">
	                            <div>
	                                <h3>石油天然气</h3>
	                                <ul>
	                                    <li><a>景气周期-乙烯</a></li>
	                                    <li><a>美国石油钻井数</a></li>
	                                </ul>
	                            </div>
	                            <div>
	                                <h3>农业造纸</h3>
	                                <ul>
	                                    <li><a>白羽鸡存栏量及价格走势分析</a></li>
	                                </ul>
	                            </div>
	                            <div>
	                                <h3>材料化工</h3>
	                                <ul>
	                                    <li><a>化工价格监测</a></li>
	                                    <li><a>拐点判断</a></li>
	                                    <li><a>化工价格预警</a></li>
	                                    <li><a>能化指数</a></li>
	                                    <li><a>利润监测</a></li>
	                                    <li><a>库存监测</a></li>
	                                    <li><a>进出口</a></li>
	                                    <li><a>供需数据</a></li>
	                                    <li><a>产品和公司关系</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="w_180">
	                            <div>
	                                <h3>TMT系统</h3>
	                                <ul>
	                                    <li><a>总票房分析</a></li>
	                                    <li><a>院线及影投分析</a></li>
	                                    <li><a>国产片与进口片票房分析</a></li>
	                                    <li><a>出品及发行公司分析</a></li>
	                                </ul>
	                            </div>
	                            <div>
	                                <h3>汽车及零部件</h3>
	                                <ul>
	                                    <li><a>汽车销售分析</a></li>
	                                    <li><a>中长期趋势</a></li>
	                                </ul>
	                            </div>
	                            <div>
	                                <h3>纺织家居</h3>
	                                <ul>
	                                    <li><a>公司销量分析</a></li>
	                                    <li><a>服装进出口分析</a></li>
	                                    <li><a>销售分析</a></li>
	                                    <li><a>销售指数</a></li>
	                                    <li><a>旗舰店分析</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="w_180">
	                            <div>
	                                <h3>地产家电</h3>
	                                <ul>
	                                    <li><a>房地产上市公司NAV估值分析</a></li>
	                                    <li><a>利率监测</a></li>
	                                    <li><a>二手房监测</a></li>
	                                    <li><a>家电行业格局</a></li>
	                                    <li><a>家电行业价格走势</a></li>
	                                    <li><a>家电行业整体趋势</a></li>
	                                </ul>
	                            </div>
	                            <div>
	                                <h3>医疗保健</h3>
	                                <ul>
	                                    <li><a>公司竞争力分析</a></li>
	                                    <li><a>药品价格分析</a></li>
	                                    <li><a>药品竞争力分析</a></li>
	                                    <li><a>药品排名</a></li>
	                                    <li><a>药品研发pipeline</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                        <!-- <div class="w_180">
	                            <div>
	                                <h3>行业指标与指数</h3>
	                                <ul>
	                                    <li><a>相关性验证</a></li>
	                                    <li><a>同向性验证</a></li>
	                                </ul>
	                            </div>
	                        </div> -->
	                    </div>
	                </li>
	                <li class="ml_10 disp_none">
	                    <div class="">
	                        <ul>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="constantIncrease/radar.html">
	                                    <h3>定增雷达</h3>
	                                    <p>定增雷达图预测</p>
	                                </a>
	                            </li>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="goldStock/goldStocksPortfolio.html">
	                                    <h3>金股组合</h3>
	                                    <p>金股组合查询</p>
	                                </a>
	                            </li>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="industryIndex/allIndustryIndex.html">
	                                    <h3>行业指标与指数</h3>
	                                    <p></p>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <!-- 模型列表 -->
	    <!-- 研究工具 -->
	    <div class="research_tool modellist disp_none">
	        <div class="list_fl fl">
	            <ul>
	                <li class="bg_2157da">练习实例</li>
	                <li class="">舆情地图</li>
	                <li class="">研究课题</li>
	            </ul>
	        </div>
	        <div class="list_fr fl">
	            <ul>
	            	<li class="ml_10">
						<div class="">
							<ul>
								<li class="mb_10">
									<a class="cona path_link" href="echarts.html">
										<h3>echarts图表</h3>
										<p>echarts图表</p>
									</a>
								</li>
								<li class="mb_10">
									<a class="cona path_link" href="table.html">
										<h3>自动生成表格</h3>
										<p>自动生成表格</p>
									</a>
								</li>
								<li class="mb_10">
									<a class="cona path_link" href="tableDrag.html">
										<h3>表格拖动</h3>
										<p>表格拖动</p>
									</a>
								</li>
								<li class="mb_10">
									<a class="cona path_link" href="ios6switch.html">
										<h3>开关插件</h3>
										<p>开关插件</p>
									</a>
								</li>
							</ul>
						</div>
					</li>
	                <li class="ml_10 disp_none">
	                    <div class="">
	                        <ul>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="map.html">
	                                    <h3>舆情地图</h3>
	                                    <p>地区舆情动态监测及排名统计</p>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                </li>
	                <li class="ml_10 disp_none">
	                    <div class="">
	                        <ul>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="researchSubject/researchReport/researchReport.html">
	                                    <h3>研究报告</h3>
	                                    <p>研究报告分享交流存储平台</p>
	                                </a>
	                            </li>
	                            <li class="mb_10">
	                                <a class="cona path_link" href="researchSubject/industryPov/industryPov.html">
	                                    <h3>行业观点</h3>
	                                    <p>每周行业观点更新及评级</p>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <!-- 研究工具 -->
	    <!-- 我的自选 -->
	    <div class="my_lab modellist disp_none">
	        <div class="list_fl fl">
	            <ul>
	                <li class="bg_2157da">我的自选</li>
	                <li id="logout" class="" style="cursor: pointer;">注销登录</li>
	            </ul>
	        </div>
	        <div class="list_fr fl">
	            <ul>
	                <li class="ml_10 my_choice">
	                    <div id="my_option_stock" class="my_option_stock">
	                    </div>
	                </li>
	                <li class="ml_10 disp_none">
	                    <div class="study pl_20">
	                        <div class="w_180">
	                            <div>
	                                <h3></h3>
	                                <ul>
	                                    <li>
	                                        <a></a>
	                                    </li>
	                                    <li>
	                                        <a></a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </li>
	            </ul>
	        </div>
	        <a class="img_left"></a>
	        <a class="img_right"></a>
	    </div>
	    <!-- 我的自选 -->
	    <div class="packup">
	        <span class="packup_img"></span>
	    </div>
	</div>
	<!-- 导航下拉模块 -->


	<script type="text/javascript">

		$('.login_ico').on('click', function(){
			console.log(1);
		});

		$('.path_link').each(function(index, el) { // 给a链接重新加上路径
		    $(el).attr('href', linkPath + $(el).attr('href'));
		});

		// 模型列表左边菜单
		$('.model_list .list_fl>ul>li').each(function(index, el) {
		    $(el).on('mouseenter', function() {
		        var $this = $(this);
		        $this.addClass('bg_2157da').siblings().removeClass('bg_2157da');
		        $this.parents('.model_list').find('.list_fr>ul>li:nth-child(' + (index + 1) + ')').show().siblings().hide();
		    });
		});

		// 研究工具左边菜单
		$('.research_tool .list_fl>ul>li').each(function(index, el) {
		    $(el).on('mouseenter', function() {
		        var $this = $(this);
		        $this.addClass('bg_2157da').siblings().removeClass('bg_2157da');
		        $this.parents('.research_tool').find('.list_fr>ul>li:nth-child(' + (index + 1) + ')').show().siblings().hide();
		    });
		});

		// 我的自选左边菜单
		$('.my_lab .list_fl>ul>li').each(function(index, el) {
		    $(el).on('mouseenter', function() {
		        var $this = $(this);
		        $this.addClass('bg_2157da').siblings().removeClass('bg_2157da');
		        $this.parents('.my_lab').find('.list_fr>ul>li:nth-child(' + (index + 1) + ')').show().siblings().hide();
		    });
		});

		// 模型列表，a链接背景变色
		$('.model_list').on('mouseenter', '.cona', function() {
		    var $this = $(this);
		    $('.model_list .cona').removeClass('bg_2157da');
		    $('.model_list .cona').find('p').removeAttr('style');
		    $this.addClass('bg_2157da');
		    $this.find('p').css('color', '#fff');
		});

		// 研究工具，a链接背景变色
		$('.research_tool').on('mouseenter', '.cona', function() {
		    var $this = $(this);
		    $('.research_tool .cona').removeClass('bg_2157da');
		    $('.research_tool .cona').find('p').removeAttr('style');
		    $this.addClass('bg_2157da');
		    $this.find('p').css('color', '#fff');
		});

		// 导航下拉
		var $pulldown = $('#pulldown');
		$('.center>ul>li').each(function(index, el) {
		    $(el).on('mouseenter', 'a:first', function() {
		        var $this = $(this);
		        $this.parent().siblings('li').children('a').next().stop().animate({
		            'width': 0
		        }, 'fast');
		        $this.next().stop().animate({
		            'width': $this.width()
		        }, 'fast', function() {
		            if (index == 1) {
		                $pulldown.slideDown();
		                $('.modellist:nth-child(1)').show().siblings('.modellist').hide();
		            } else if (index == 2) {
		                $pulldown.slideDown();
		                $('.modellist:nth-child(2)').show().siblings('.modellist').hide();
		            } else if (index == 3) {
		                $pulldown.slideDown();
		                $('.modellist:nth-child(3)').show().siblings('.modellist').hide();
		            } else {
		                $pulldown.slideUp();
		            }
		        });
		    }).on('mouseleave', 'a:first', function() {
		        var $this = $(this);
		        var str = $pulldown.css('display');
		        if (index == 1 && str == 'block' || index == 2 && str == 'block' || index == 3 && str == 'block') {
		            $this.next().stop().animate({
		                'width': $this.width()
		            }, 'fast');
		        } else {
		            $this.next().stop().animate({
		                'width': 0
		            }, 'fast');
		        }
		    });
		});

		// 收起按扭
		$('.packup_img').click(function() {
		    $pulldown.slideUp();
		    $('.center li>a:first-child').next('s').stop().animate({
		        'width': 0
		    }, 'fast');
		});
		$pulldown.on('mouseleave', function() {
		    $(this).slideUp();
		    $('.center li>a:first-child').next('s').stop().animate({
		        'width': 0
		    }, 'fast');
		});

		// 大数据a链接
		$('.dsg').on('click', 'a', function() {
		    if ($('#currentUser').text() == '我的自选') {
		        var $this = $(this);
		        window.open(linkPath + 'bigData.html?U=' + $this.text());
		    }
		});
	</script>
</header>